### Codio Activity 10.1: Working with Dates in `pandas`

**Estimated Time: 45 Minutes**

**Total Points: 40**

This activity focuses on working with datetime objects in pandas.  There is a good deal of functionality built into a DataFrame when working with datetime objects.  Specifically, you will examine how to convert dates to datetime objects using `pd.to_datetime`.  Also, you will examine how to use pandas to set the datetime as an index and use the dates to select specific data. 


#### Index

- [Problem 1](#Problem-1)
- [Problem 2](#Problem-2)
- [Problem 3](#Problem-3)
- [Problem 4](#Problem-4)

In [1]:
import pandas as pd
import numpy as np

[Back to top](#-Index)

### Problem 1

#### Using `pd.to_datetime`

**10 Points**

As you saw demonstrated, the `pd.to_datetime` function takes in a string representing a date and converts it to a datetime object.  This is a specific datatype in pandas.  Below, you are given a string `adate` representing a date, and are to use the `to_datetime` method to convert the string to a datetime object.  Assign your solution as `adatetime` below.

In [2]:
### GRADED

adate = '01-01-2000'
adatetime = ''

### BEGIN SOLUTION
adatetime = pd.to_datetime(adate)
### END SOLUTION

# Answer check
print(adatetime)
print(type(adatetime))

2000-01-01 00:00:00
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [3]:
### BEGIN HIDDEN TESTS
adate_ = '01-01-2000'
adatetime_ = pd.to_datetime(adate)
#
#
#
assert type(adatetime_) == type(adatetime)
assert adatetime_ == adatetime
### END HIDDEN TESTS

[Back to top](#-Index)

### Problem 2

#### Dates in a `DataFrame`

**10 Points**

Below, you are given a small DataFrame `sample_df` with two columns -- `date` and `price`.  The `date` features is string datatype.  You are to change the column to a datetime object.

Update the `date` column of the `data` DataFrame as datetime type.

In [4]:
data = {'price': [10.24, 11.34, 14.72, 13.90, 15.03],
       'date': ['11-01-2020', '11-02-2021', '11-03-2021', '11-04-2021', '11-05-2021']}
sample_df = pd.DataFrame(data)
sample_df

   price        date
0  10.24  11-01-2020
1  11.34  11-02-2021
2  14.72  11-03-2021
3  13.90  11-04-2021
4  15.03  11-05-2021

In [5]:
### GRADED

sample_df['date'] = data['date']

### BEGIN SOLUTION
sample_df['date'] = pd.to_datetime(sample_df['date'])
### END SOLUTION

# Answer check
print(sample_df['date'])
print(sample_df.dtypes)

0   2020-11-01
1   2021-11-02
2   2021-11-03
3   2021-11-04
4   2021-11-05
Name: date, dtype: datetime64[ns]
price           float64
date     datetime64[ns]
dtype: object

In [6]:
### BEGIN HIDDEN TESTS
sample_df_ = pd.DataFrame(data)
sample_df_['date'] = pd.to_datetime(sample_df_['date'])
#
#
#
pd.testing.assert_series_equal(sample_df['date'], sample_df_['date'])
### END HIDDEN TESTS

[Back to top](#-Index)

### Problem 3

#### Extracting information from `datetime` objects

**10 Points**


If a pandas series has a column of type `datetime` you can extract information about the given date using the `.dt` function followed by the appropriate datetime method.  For example, in the above problem we would be able to extract the month of each row with:

```python
sample_df['date'].dt.month
```

Below, a DataFrame containing oil prices in Bolivia is loaded.  You are to convert the `date` column to a datetime object and create a new column named `month` that contains the month of each price observation.

In [7]:
oil = pd.read_csv('data/oil.csv')
oil.head()

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20

In [8]:
### GRADED

### BEGIN SOLUTION
oil['date'] = pd.to_datetime(oil['date'])
oil['month'] = oil['date'].dt.month
### END SOLUTION

# Answer check
print('Counts of months in data\n==================')
print(oil['month'].value_counts())

Counts of months in data
==================
7     111
5     111
1     111
8     110
3     110
6     107
4     107
2     101
12     90
10     89
9      87
11     84
Name: month, dtype: int64

In [9]:
### BEGIN HIDDEN TESTS
oil_ = pd.read_csv('data/oil.csv')
oil_['date'] = pd.to_datetime(oil_['date'])
oil_['month'] = oil_['date'].dt.month
#
#
#
pd.testing.assert_series_equal(oil['month'], oil_['month'])
### END HIDDEN TESTS

[Back to top](#-Index)

### Problem 4

#### Slicing data with `datetime` index

**10 Points**

One feature of using a `datetime` as an index is the ability to slice data using the dates.  For example, in the below data containing Microsoft stock data from the year 2020, once the date column is converted to `datetime` and is set as the index, we could slice all dates after March 1st with

```python
msft['2020-03-01':]
```

Using the `msft` data, change the `Date` column to `datetime` and set it to the index of the DataFrame.  Use the datetime index to select days between June 21st and September 22nd.  Assign the slice to the variable `msft_summer` below.

In [10]:
msft = pd.read_csv('data/msft.csv')
msft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       253 non-null    object
 1   High       253 non-null    float64
 2   Low        253 non-null    float64
 3   Open       253 non-null    float64
 4   Close      253 non-null    float64
 5   Volume     253 non-null    float64
 6   Adj Close  253 non-null    float64
dtypes: float64(6), object(1)
memory usage: 14.0+ KB

In [11]:
### GRADED


### BEGIN SOLUTION
msft = pd.read_csv('data/msft.csv')
msft['Date'] = pd.to_datetime(msft['Date'])
msft = msft.set_index('Date')
msft_summer = msft['2020-06-21':'2020-09-22']
### END SOLUTION

# Answer check
msft_summer.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-06-22,200.759995,195.229996,195.789993,200.570007,32818900.0,197.904968
2020-06-23,203.949997,201.429993,202.089996,201.910004,30917400.0,199.227173
2020-06-24,203.250000,196.559998,201.600006,197.839996,36740600.0,195.211227
2020-06-25,200.610001,195.470001,197.800003,200.339996,27803900.0,197.678024
2020-06-26,199.889999,194.880005,199.729996,196.330002,54675800.0,193.721298

In [12]:
### BEGIN HIDDEN TESTS
msft_ = pd.read_csv('data/msft.csv')
msft_['Date'] = pd.to_datetime(msft_['Date'])
msft_ = msft_.set_index('Date')
msft_summer_ = msft_['2020-06-21':'2020-09-22']
#
#
#
pd.testing.assert_frame_equal(msft_summer, msft_summer_)
### END HIDDEN TESTS